<perfect-scrollbar class="al-main al-main-uncollapsing animation-p">
    <div class="al-content ">
        <div class="content-top">
            <!--<div>{{content.SecurityTransaction}} / {{content.Transaction}}</div>-->
        </div>
    <div class="scope-panel" ng-app="trade_report_en" ng-controller="securityTransactionFaCtrl">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="medium-panel k-aaa panel-blur">
                    <div class="panel-body">
                        <form name="Form">
                            <div class="row">
                                <div class="col-sm-5 pull-right">
                                    <div class="row">
                                        <div class="col-md-4 pull-right" style="margin-bottom: 5px; direction: rtl;">
                                            <label style="min-width:80px;">{{content.PortfolioType}}:</label>
                                            <select name="managementTypeCode" kendo-drop-down-list k-options="dropOptionsManagementTypeCode" ng-model="ManagementTypeCode" style="width: 130px;" required></select>
                                        </div>
                                        <div class="col-md-4 pull-right" style="margin-bottom: 5px; direction: rtl;">
                                            <label style="min-width:80px;">{{content.FromDate}}:</label>
                                            <!--<input name="fromData" kendo-date-picker k-format="'yyyy-MM-dd'" style="width: 120px;" ng-model="tradeReportDatePickerFrom" required from-date-valid />-->
                                            <span class="k-widget k-datepicker k-header ng-pristine ng-valid ng-not-empty ng-valid-required ng-touched" style="width: 120px; direction: ltr;">
                                                <span class="k-picker-wrap k-state-default">
                                                    <input class="ng-pristine ng-valid k-input ng-not-empty ng-valid-required ng-touched" type="text" name="date" ng-jalaali-flat-datepicker datepicker-config="datepickerConfig" gregorian-formatted-picked-date="gfdate" gregorian-picked-date="gdate" ng-model="tradeReportDatePickerFrom">
                                                    <span class="k-select"><span class="k-icon k-i-calendar"></span></span>
                                                </span>
                                            </span>
                                        </div>
                                        <div class="col-md-4 pull-right" style="margin-bottom: 5px; direction: rtl;">
                                            <label style="min-width:80px;">{{content.ToDate}}:</label>
                                            <!--<input name="toDate" kendo-date-picker k-format="'yyyy-MM-dd'" style="width: 120px;" ng-model="tradeReportDatePickerTo" required to-date-valid />-->
                                            <span class="k-widget k-datepicker k-header ng-pristine ng-valid ng-not-empty ng-valid-required ng-touched" style="width: 120px; direction: ltr;">
                                                <span class="k-picker-wrap k-state-default">
                                                    <input class="ng-pristine ng-valid k-input ng-not-empty ng-valid-required ng-touched" type="text" name="date" ng-jalaali-flat-datepicker datepicker-config="datepickerConfig" gregorian-formatted-picked-date="gfdate" gregorian-picked-date="gdate" ng-model="tradeReportDatePickerTo">
                                                    <span class="k-select"><span class="k-icon k-i-calendar"></span></span>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-7 pull-right">
                                    <div class="row">
                                        <div class="col-sm-4 pull-right" style="margin-bottom: 5px;">
                                            <input customType="SimpleProduct" kendo-auto-complete k-options="tradeReportProductAutoCom" k-ng-model="tradeReportProductAutoCom" k-value-primitive="false" style="width: 100%; background: rgba(50, 50, 50, 0.9);" />
                                            <!-- DO NOT CHANGE POSITION -->
                                            <input type="hidden" id="tradeReportProductAutoComHidden" name="tradeReportProductAutoComHidden" />
                                        </div>
                                        <div class="col-sm-4 pull-right">
                                            <div class="" style="padding: 13px; padding-bottom: 0px; background-color: rgba(0, 0, 0, 0);">
                                                <md-radio-group ng-model="tradeReportView" md-theme="docs-dark">
                                                    <div layout-gt-md="row">
                                                        <md-radio-button value="2" class="md-primary">{{content.DailyAggregate}}</md-radio-button>&nbsp &nbsp
                                                        <md-radio-button value="1" class="md-primary">{{content.Breakdown}}</md-radio-button>&nbsp &nbsp
                                                    </div>
                                                </md-radio-group>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 pull-right">
                                            <div class="" style="padding: 13px; padding-bottom: 0; background-color: rgba(0, 0, 0, 0);">
                                                <md-radio-group ng-model="tradeReportTransactionType" md-theme="docs-dark">
                                                    <div layout-gt-md="row">
                                                        <md-radio-button value="8" class="md-primary">{{content.Sell}}</md-radio-button> &nbsp &nbsp
                                                        <md-radio-button value="2" class="md-primary">{{content.Buy}}</md-radio-button> &nbsp &nbsp
                                                        <md-radio-button value="1000" class="md-primary">{{content.All}}</md-radio-button> &nbsp &nbsp
                                                    </div>
                                                </md-radio-group>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <md-button class="md-raised md-primary md-button-custome" style="width: 100%; margin: 0;" ng-click="tradeReportGenerate()">{{content.Report}}</md-button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
</div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="medium-panel k-aaa panel-blur">
                    <div class="panel-body">

                        <div id="tradeReportGrid1" class="k-rtl"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        </div>
        </perfect-scrollbar>
                <style>
                    .k-multicheck-wrap {
                        overflow-x: hidden;
                    }
                </style>
