<!DOCTYPE html>
<html ng-app="App">
<head>
                <link rel="stylesheet" href="asset/style/style.css">
                <link rel="stylesheet" href="asset/style/style-element.css">
                <link rel="stylesheet" href="asset/style/login-style.css">
                <link rel="stylesheet" href="asset/style/mfd-font.css">
                <link rel="stylesheet" href="asset/style/grid.css">
                <link rel="stylesheet" href="asset/style/style-accordion.css">
                <link rel="stylesheet" href="asset/style/angular-material.css">
                <link rel="stylesheet" href="asset/style/kendo.common-material.min.css">
                <link rel="stylesheet" href="asset/style/kendo.materialblack.css">
                <link rel="stylesheet" href="asset/style/kendo.materialblack.mobile.min.css">
                <link rel="stylesheet" href="asset/style/kendo.rtl.min.css">
                <link rel="stylesheet" href="asset/style/mdPickers.css">
                <link rel="stylesheet" href="asset/style/md-data-table.css">
                <link rel="stylesheet" href="asset/style/ng-jalaali-flat-datepicker.css">
                <link rel="stylesheet" href="asset/lib/perfect-scrollbar/perfect-scrollbar.min.css">
    
</head>
<body ng-app="app" ng-controller="AppCtrl" ui-router-styles>
    <div class="Aligner" style="height:100%; width: 100%; position: absolute;">
        <img src="asset/image/R0-2-en.svg" style="opacity: 0.4; width: 40%;" />
    </div>
<ui-view></ui-view>
    <script type="text/ng-template" id="toast-template.html">
        <md-toast style="z-index:99999;" >
            <span class="md-toast-text" flex>{{mmm}}</span>
            <span class="md-toast-text" flex></span>
            <md-button class="md-highlight" ng-click="openMoreInfo($event)">
                More info
            </md-button>
            <md-button ng-click="closeToast()">
                Close
            </md-button>
        </md-toast>
    </script>
    <div class="outerclassblockloader animation-p">
        <div class="midelclassblockloader">
            <span class="mfd-logo-s loader-logo"></span>
            <div class="iner-class-block-loader">
                <md-progress-circular class="md-accent" md-diameter="40" style="padding: 10px" md-mode="indeterminate"></md-progress-circular>
            </div>
        </div>
    </div>
                
                <script src="asset/lib/jquery.js"></script>
                <script src="asset/lib/angular.js"></script>
                <script src="asset/lib/angular-animate.min.js"></script>
                <script src="asset/lib/angular-aria.min.js"></script>
                <script src="asset/lib/angular-messages.min.js"></script>
                <script src="asset/lib/angular.easypiechart.min.js"></script>
                <script src="asset/lib/svg-assets-cache.js"></script>
                <script src="asset/lib/angular-material.js"></script>
                <script src="asset/lib/angular-ui-router.min.js"></script>
                <script src="asset/lib/angular-ui-router-styles.js"></script>
                <script src="asset/lib/ng-jalaali-flat-datepicker.js"></script>
                <script src="asset/lib/ngStorage.js"></script>
                <script src="asset/lib/md-data-table.js"></script>
                <script src="asset/lib/highchart/highstock.js"></script>
                <script src="asset/lib/highchart/drilldown.js"></script>
                <script src="asset/lib/highchart/highcharts-localization.js"></script>
                <script src="asset/lib/moment.js"></script>
                <script src="asset/lib/moment-jalaali.js"></script>
                <script src="asset/lib/perfect-scrollbar/perfect-scrollbar.with-mousewheel.min.js"></script>
                <script src="asset/lib/perfect-scrollbar/angular-perfect-scrollbar.js"></script>
                <script src="asset/lib/jalali.js"></script>
                <script src="asset/app/init/app.js"></script>
                <script src="asset/js/script.js"></script>
                <script src="asset/lib/kendo.all.min.js"></script>
                <script src="asset/lib/kendo.aspnetmvc.min.js"></script>
                <script src="asset/lib/jszip.js"></script>
                <script src="asset/js/controlsextention.js"></script>
                <script src="asset/app/init/app.js"></script>
                
                <script src="asset/app/component/login/loginEnModule.js"></script>
                <script src="asset/app/component/register/registerEnModule.js"></script>
                <script src="asset/app/component/forgotpassword/forgotpasswordEnModule.js"></script>
                <script src="asset/app/component/resetPassWord/resetPassWordEnModule.js"></script>
                <script src="asset/app/component/notfound/notfoundEnModule.js"></script>
                <script src="asset/app/component/panel/panel-en-Module.js"></script>
                <script src="asset/app/component/panel/home/homeEnModule.js"></script>
                <script src="asset/app/component/panel/assetAllocation/assetAllocationEnModule.js"></script>
                <script src="asset/app/component/panel/industryAllocation/industryAllocationEnModule.js"></script>
                <script src="asset/app/component/panel/historicalAllocation/historicalAllocationEnModule.js"></script>
                <script src="asset/app/component/panel/holdingSummary/holdingSummaryEnModule.js"></script>
                <script src="asset/app/component/panel/balances/balancesEnModule.js"></script>
                <script src="asset/app/component/panel/securityTransaction/securityTransactionEnModule.js"></script>
                <script src="asset/app/component/panel/cashTransaction/cashTransactionEnModule.js"></script>
                <script src="asset/app/component/panel/fundPosition/fundPositionEnModule.js"></script>
                <script src="asset/app/component/panel/contributionsWithdrawals/contributionsWithdrawalsEnModule.js"></script>
                <script src="asset/app/component/panel/receivableDividends/receivableDividendsEnModule.js"></script>
                <script src="asset/app/component/panel/stockDividends/stockDividendsEnModule.js"></script>
                <script src="asset/app/component/panel/performance/performanceEnModule.js"></script>
                <script src="asset/app/component/login/loginFaModule.js"></script>
                <script src="asset/app/component/register/registerFaModule.js"></script>
                <script src="asset/app/component/forgotpassword/forgotpasswordFaModule.js"></script>
                <script src="asset/app/component/resetPassWord/resetPassWordFaModule.js"></script>
                <script src="asset/app/component/notfound/notfoundFaModule.js"></script>
                <script src="asset/app/component/panel/panel-fa-Module.js"></script>
                <script src="asset/app/component/panel/home/homeFaModule.js"></script>
                <script src="asset/app/component/panel/assetAllocation/assetAllocationFaModule.js"></script>
                <script src="asset/app/component/panel/industryAllocation/industryAllocationFaModule.js"></script>
                <script src="asset/app/component/panel/historicalAllocation/historicalAllocationFaModule.js"></script>
                <script src="asset/app/component/panel/holdingSummary/holdingSummaryFaModule.js"></script>
                <script src="asset/app/component/panel/balances/balancesFaModule.js"></script>
                <script src="asset/app/component/panel/securityTransaction/securityTransactionFaModule.js"></script>
                <script src="asset/app/component/panel/cashTransaction/cashTransactionFaModule.js"></script>
                <script src="asset/app/component/panel/fundPosition/fundPositionFaModule.js"></script>
                <script src="asset/app/component/panel/contributionsWithdrawals/contributionsWithdrawalsFaModule.js"></script>
                <script src="asset/app/component/panel/receivableDividends/receivableDividendsFaModule.js"></script>
                <script src="asset/app/component/panel/stockDividends/stockDividendsFaModule.js"></script>
                <script src="asset/app/component/panel/performance/performanceFaModule.js"></script>
</body>
</html>