<div class="login-bg animation-g" ng-controller="register3FaCtrl">
        <div class="logo-footer-4"><div class="mfd-logo3-m"></div></div>
        <div class="panellogin">
    <div class="login-iner">
        <div class="back-to" ui-sref="loginFa">ورود</div>
        <div class="logoholder"><span class="mfd-entekhab2-m"></span></div>
        <form name="Form">
            <div class="inputholder">
                <div class="mfd-user2"></div>
                <input name="activationCode" class="inputbox" ng-model="activationCode" placeholder="کد فعال سازی" required/>
            </div>
            <button ng-click="ContinueFn()" class="btnlogin">ادامه</button>    
        </form>
</div>
    <div class="forgotpass" >کد فعال سازی ارسال شده را وارد کنید</div>
  
    <div class="footer-login"><div class="mfd-logo5-m"></div>
    <div class="copyright-login">© 1396</div></div>
    
    </div>
</div>