<div class="login-bg animation-g" ng-controller="register3EnCtrl">
        <div class="logo-footer-4"><div class="mfd-logo4-m"></div></div>
        <div class="panellogin">
    <div class="login-iner">
        <div class="back-to" ui-sref="loginEn">Login</div>
        <div class="logoholder"><span class="mfd-entekhab1-m"></span></div>
        <form name="Form">
            <div class="inputholder">
                <div class="mfd-user2"></div>
                <input name="activationCode" class="inputbox" ng-model="activationCode" placeholder="activation code" required/>
            </div>
            <button ng-click="ContinueFn()" class="btnlogin">continue</button>    
        </form>
</div>
    <div class="forgotpass" >Enter the activation code sent</div>
  
    <div class="footer-login"><div class="mfd-logo6-m"></div>
    <div class="copyright-login">© 2017</div></div>
    
    </div>
</div>