<div>
    <div class="panel-bg">
        <div class="footer-main"><div class="mfd-logo4"></div></div>
        <div class="main-admin animation-p">
            <aside class="al-sidebar .al-sidebar-uncollapsing animation-g">
                <div class="slimscrolldiv">
                    <div class="sidebar">
                        <ul id="sidebar-menu t-rtl">
                            <li>
                                <div class="title-menu-main">
                                    <div class="icon-align t-float-r"><i class="mfd-dashboard"></i></div>
                                    <div class="title-menu t-float-r">منوی اصلی</div>
                                    <div class="menu-cast t-float-l"><i class="mfd-right icon-area"></i></div>
                                </div>
                                <div class="sidebar-submenu sidebar-submenu-unaccording">
                                    <ul>
                                        <li ui-sref="panel_fa.home"><div class="title-menu-main2"><div class="title-menu">صفحه نخست</div></div></li>
                                        <li ui-sref="panel_fa.page1"><div class="title-menu-main2"><div class="title-menu">صفحه اول</div></div></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="title-menu-main">
                                    <div class="icon-align t-float-r"><i class="mfd-roket"></i></div>
                                    <div class="title-menu t-float-r">تم اصلی</div>
                                    <div class="menu-cast .t-float-l"><i class="mfd-right icon-area"></i></div>
                                </div>
                                <div class="sidebar-submenu sidebar-submenu-unaccording">
                                    <ul>
                                        <li ui-sref="panel_en.sample_button"><div class="title-menu-main2"><div class="title-menu">دکمه </div></div></li>
                                        <li ui-sref="panel_en.sample_input"><div class="title-menu-main2"><div class="title-menu">ورودی داده</div></div></li>
                                        <li ui-sref="panel_en.sample_alert"><div class="title-menu-main2"><div class="title-menu">پیغام</div></div></li>
                                        <li ui-sref="panel_en.sample_icon"><div class="title-menu-main2"><div class="title-menu">ایکون</div></div></li>
                                        <li ui-sref="panel_en.sample_grid"><div class="title-menu-main2"><div class="title-menu">گرید</div></div></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="title-menu-main">
                                    <div class="icon-align t-float-r"><i class="mfd-cubes"></i></div>
                                    <div class="title-menu t-float-r">متریال دیزاین</div>
                                    <div class="menu-cast .t-float-l"><i class="mfd-right icon-area"></i></div>
                                </div>
                                <div class="sidebar-submenu sidebar-submenu-unaccording">
                                    <ul>
                                        <li ui-sref="panel_en.mdesign_button"><div class="title-menu-main2"><div class="title-menu">دکمه</div></div></li>
                                        <li ui-sref="panel_en.mdesign_checkbox"><div class="title-menu-main2"><div class="title-menu">چک باکس</div></div></li>
                                        <li ui-sref="panel_en.mdesign_autocomplate"><div class="title-menu-main2"><div class="title-menu">آیتو کامپلیت</div></div></li>
                                     
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="title-menu-main">
                                    <div class="icon-align t-float-r"><i class="mfd-cubes"></i></div>
                                    <div class="title-menu t-float-r">کندو یو آی</div>
                                    <div class="menu-cast .t-float-l"><i class="mfd-right icon-area"></i></div>
                                </div>
                                <div class="sidebar-submenu sidebar-submenu-unaccording">
                                    <ul>
                                        <li ui-sref="panel_en.sample-kendo-grid"><div class="title-menu-main2"><div class="title-menu">گرید ویو</div></div></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="title-menu-main">
                                    <div class="icon-align t-float-r"><i class="mfd-chart"></i></div>
                                    <div class="title-menu t-float-r">های چارت</div>
                                    <div class="menu-cast .t-float-l"><i class="mfd-right icon-area"></i></div>
                                </div>
                                <div class="sidebar-submenu sidebar-submenu-unaccording">
                                    <ul>
                                        <li ui-sref="panel_en.highchart_bar"><div class="title-menu-main2"><div class="title-menu">بار چارت</div></div></li>
                                        <li ui-sref="panel_en.highchart_line"><div class="title-menu-main2"><div class="title-menu"> لاین چارت</div></div></li>
                                        <li ui-sref="panel_en.highchart_pie"><div class="title-menu-main2"><div class="title-menu">پای چارت</div></div></li>
                                        <li ui-sref="panel_en.highchart_heat"><div class="title-menu-main2"><div class="title-menu">هیت چارت</div></div></li>
                                        <li ui-sref="panel_en.stockchart"><div class="title-menu-main2"><div class="title-menu">استوک چارت</div></div></li>
                                        <li ui-sref="panel_en.highmap"><div class="title-menu-main2"><div class="title-menu">نقشه</div></div></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>

                    </div>
                    <div class="end-sidebar">
                        <div class="title-menu-main">
                            <div class="icon-align "><i class="mfd-roket"></i></div>
                            <div class="title-menu ">secend</div>
                            <div class="menu-cast ."><i class="mfd-right icon-area"></i></div>
                        </div>
                    </div>
                </div>
                <div class="sidebar-hover-elem"></div>
            </aside>
            <div class="page-top">
                <div class="al-logo"><div class="mfd-entekhab4-m"></div></div>
                <div class="collapse-menu animation-g"><i class="mfd-menu2"></i></div>
                <div class="user-profile"><div class="mfd-user"></div></div>
                <a ui-sref="login_fa"><div class="btn-head "><div>خروج</div></div></a>
                <div class="btn-minimazer mfd-menu2"></div>


            </div>
            <div class="al-holder ">
                <div class="al-main al-main-uncollapsing animation-p">
                    <div class="al-content ">
                        <ui-view></ui-view>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>