<div>
<div class="panel-bg">
<div class="footer-main">
    <div class="mfd-logo4"></div>
</div>
<div class="main-admin animation-p">
    <aside class="al-sidebar .al-sidebar-uncollapsing animation-g">
        <div class="slimscrolldiv">
            <div class="sidebar">
                <ul id="sidebar-menu">
                    <li>
                        <div class="title-menu-main">
                            <div class="icon-align t-float-r">
                                <i class="mfd-oneeye"></i>
                            </div>
                            <div class="title-menu t-float-r">{{content.Overview}}</div>
                            <div class="menu-cast t-float-l">
                                <i class="mfd-right icon-area"></i>
                            </div>
                        </div>
                        <div class="sidebar-submenu sidebar-submenu-unaccording">
                            <ul>
                                <li ui-sref="panel_en.home" ng-click="routedSelected = 'home'">
                                    <div class="title-menu-main2">
                                        <div class="pageselcted" ng-class="{'pageselctedshow': routedSelected == 'home'}">
                                            <div class="pageselectedrebon"></div>
                                        </div>
                                        <div class="title-menu">{{content.Home}}</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="title-menu-main">
                            <div class="icon-align t-float-r">
                                <i class="mfd-piechart"></i>
                            </div>
                            <div class="title-menu t-float-r">{{content.Allocation}}</div>
                            <div class="menu-cast t-float-l">
                                <i class="mfd-right icon-area"></i>
                            </div>
                        </div>
                        <div class="sidebar-submenu sidebar-submenu-unaccording">
                            <ul>
                                <li ui-sref="panel_en.assetAllocation" ng-click="routedSelected = 'assetAllocation'">
                                    <div class="title-menu-main2">
                                        <div class="pageselcted" ng-class="{'pageselctedshow': routedSelected == 'assetAllocation'}">
                                            <div class="pageselectedrebon"></div>
                                        </div>
                                        <div class="title-menu">{{content.AssetAllocation}}</div>
                                    </div>
                                </li>
                                <li ui-sref="panel_en.industryAllocation" ng-click="routedSelected = 'industryAllocation'">
                                    <div class="title-menu-main2">
                                        <div class="pageselcted" ng-class="{'pageselctedshow': routedSelected == 'industryAllocation'}">
                                            <div class="pageselectedrebon"></div>
                                        </div>
                                        <div class="title-menu">{{content.IndustryAllocation}}</div>
                                    </div>
                                </li>
                                <li ui-sref="panel_en.historicalAllocation" ng-click="routedSelected = 'historicalAllocation'">
                                    <div class="title-menu-main2">
                                        <div class="pageselcted" ng-class="{'pageselctedshow': routedSelected == 'historicalAllocation'}">
                                            <div class="pageselectedrebon"></div>
                                        </div>
                                        <div class="title-menu">{{content.HistoricalAllocation}}</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="title-menu-main">
                            <div class="icon-align t-float-r">
                                <i class="mfd-casel"></i>
                            </div>
                            <div class="title-menu t-float-r">{{content.Holding}}</div>
                            <div class="menu-cast t-float-l">
                                <i class="mfd-right icon-area"></i>
                            </div>
                        </div>
                        <div class="sidebar-submenu sidebar-submenu-unaccording">
                            <ul>
                                <li ui-sref="panel_en.holdingSummary" ng-click="routedSelected = 'holdingSummary'">
                                    <div class="title-menu-main2">
                                        <div class="pageselcted" ng-class="{'pageselctedshow': routedSelected == 'holdingSummary'}">
                                            <div class="pageselectedrebon"></div>
                                        </div>
                                        <div class="title-menu">{{content.HoldingSummary}}</div>
                                    </div>
                                </li>
                                <li ui-sref="panel_en.balances" ng-click="routedSelected = 'balances'">
                                    <div class="title-menu-main2">
                                        <div class="pageselcted" ng-class="{'pageselctedshow': routedSelected == 'balances'}">
                                            <div class="pageselectedrebon"></div>
                                        </div>
                                        <div class="title-menu">{{content.Balances}}</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="title-menu-main">
                            <div class="icon-align t-float-r">
                                <i class="mfd-transaction"></i>
                            </div>
                            <div class="title-menu t-float-r">{{content.Transaction}}</div>
                            <div class="menu-cast t-float-l">
                                <i class="mfd-right icon-area"></i>
                            </div>
                        </div>
                        <div class="sidebar-submenu sidebar-submenu-unaccording">
                            <ul>
                                <li ui-sref="panel_en.securityTransaction" ng-click="routedSelected = 'securityTransaction'">
                                    <div class="title-menu-main2">
                                        <div class="pageselcted" ng-class="{'pageselctedshow': routedSelected == 'securityTransaction'}">
                                            <div class="pageselectedrebon"></div>
                                        </div>
                                        <div class="title-menu">{{content.SecurityTransaction}}</div>
                                    </div>
                                </li>
                                <li ui-sref="panel_en.cashTransaction" ng-click="routedSelected = 'cashTransaction'">
                                    <div class="title-menu-main2">
                                        <div class="pageselcted" ng-class="{'pageselctedshow': routedSelected == 'cashTransaction'}">
                                            <div class="pageselectedrebon"></div>
                                        </div>
                                        <div class="title-menu">{{content.CashTransaction}}</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="title-menu-main">
                            <div class="icon-align t-float-r">
                                <i class="mfd-bag"></i>
                            </div>
                            <div class="title-menu t-float-r">{{content.MutualFunds}}</div>
                            <div class="menu-cast t-float-l">
                                <i class="mfd-right icon-area"></i>
                            </div>
                        </div>
                        <div class="sidebar-submenu sidebar-submenu-unaccording">
                            <ul>
                                <li ui-sref="panel_en.fundPosition" ng-click="routedSelected = 'fundPosition'">
                                    <div class="title-menu-main2">
                                        <div class="pageselcted" ng-class="{'pageselctedshow': routedSelected == 'fundPosition'}">
                                            <div class="pageselectedrebon"></div>
                                        </div>
                                        <div class="title-menu">{{content.HoldingSummary}}</div>
                                    </div>
                                </li>
                                <li ui-sref="panel_en.contributionsWithdrawals" ng-click="routedSelected = 'contributionsWithdrawals'">
                                    <div class="title-menu-main2">
                                        <div class="pageselcted" ng-class="{'pageselctedshow': routedSelected == 'contributionsWithdrawals'}">
                                            <div class="pageselectedrebon"></div>
                                        </div>
                                        <div class="title-menu">{{content.ContributionsWithdrawals}}</div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="title-menu-main">
                            <div class="icon-align t-float-r">
                                <i class="mfd-money"></i>
                            </div>
                            <div class="title-menu t-float-r">{{content.Dividends}}</div>
                            <div class="menu-cast t-float-l">
                                <i class="mfd-right icon-area"></i>
                            </div>
                        </div>
                        <div class="sidebar-submenu sidebar-submenu-unaccording">
                            <ul>
                                <li ui-sref="panel_en.receivableDividends" ng-click="routedSelected = 'receivableDividends'">
                                    <div class="title-menu-main2">
                                        <div class="pageselcted" ng-class="{'pageselctedshow': routedSelected == 'receivableDividends'}">
                                            <div class="pageselectedrebon"></div>
                                        </div>
                                        <div class="title-menu">{{content.ReceivableDividends}}</div>
                                    </div>
                                </li>
                                <li ui-sref="panel_en.stockDividends" ng-click="routedSelected = 'stockDividends'">
                                    <div class="title-menu-main2">
                                        <div class="pageselcted" ng-class="{'pageselctedshow': routedSelected == 'stockDividends'}">
                                            <div class="pageselectedrebon"></div>
                                        </div>
                                        <div class="title-menu">{{content.StockDividends}}</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="title-menu-main">
                            <div class="icon-align t-float-r">
                                <i class="mfd-linechart"></i>
                            </div>
                            <div class="title-menu t-float-r">{{content.Performance}}</div>
                            <div class="menu-cast t-float-l">
                                <i class="mfd-right icon-area"></i>
                            </div>
                        </div>
                        <div class="sidebar-submenu sidebar-submenu-unaccording">
                            <ul>
                                <li ui-sref="panel_en.performance" ng-click="routedSelected = 'performance'">
                                    <div class="title-menu-main2">
                                        <div class="pageselcted" ng-class="{'pageselctedshow': routedSelected == 'performance'}">
                                            <div class="pageselectedrebon"></div>
                                        </div>
                                        <div class="title-menu">{{content.Performance}}</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <!--<li>
                        <div class="title-menu-main">
                            <div class="icon-align t-float-r">
                                <i class="mfd-newspaper"></i>
                            </div>
                            <div class="title-menu t-float-r">{{content.Reports}}</div>
                            <div class="menu-cast t-float-l">
                                <i class="mfd-right icon-area"></i>
                            </div>
                        </div>
                        <div class="sidebar-submenu sidebar-submenu-unaccording">
                            <ul>
                                <li ui-sref="panel_fa.reports">
                                    <div class="title-menu-main2">
                                        <div class="pageselcted" ng-class="{'pageselctedshow': routedSelected == 'reports'}">
                                            <div class="pageselectedrebon"></div>
                                        </div>
                                        <div class="title-menu">{{content.Reports}}</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>-->
                </ul>

            </div>
        </div>
        <div class="sidebar-hover-elem"></div>
    </aside>
<div class="page-top">
    <div class="al-logo">
        <div class="mfd-entekhab3-m"></div>
    </div>
    <div class="collapse-menu animation-g">
        <i class="mfd-menu2"></i>
    </div>
    <div class="user-profile">
        <div class="mfd-user"></div>
    </div>
    <div class="btn-head " style="float: right;">
        <div>{{name}}</div>
    </div>
    <a ng-click="singOutFn('en')">
        <div class="btn-head ">
            <div >{{content.SignOut}}</div>
        </div>
    </a>
    
    <div class="btn-minimazer mfd-maximaiz"></div>

</div>
<div class="al-holder ">
    <ui-view class="fade"></ui-view>
</div>
</div>
</div>
</div>
<div class="block-feed animation-g">
    <div style="margin:25px; margin-right:55px; background-color: rgba(0, 0, 0,.2);">
    <md-input-container class="md-block">
        <label>{{content.Youcomment}}</label>
        <textarea ng-model="feedBackText" md-maxlength="150" rows="5" md-select-on-focus=""></textarea>
    </md-input-container>
        <div class="medium-panel" style="padding: 13px; padding-bottom: 0; background-color: rgba(0, 0, 0, 0);">
            <md-radio-group ng-model="feedbackType" md-theme="docs-dark">
                <div layout-gt-md="row">
                    <md-radio-button value="1" class="md-primary">{{content.Request}}</md-radio-button> &nbsp &nbsp
                    <md-radio-button value="2" class="md-primary">{{content.Suggest}}</md-radio-button> &nbsp &nbsp
                    <md-radio-button value="3" class="md-primary">{{content.Critique}}</md-radio-button> &nbsp &nbsp
                </div>
            </md-radio-group>
        </div>
        <md-button class="md-raised md-primary md-button-custome" style="width: 100%; height: 43px; margin: 0;" ng-click="feedbackBTN()">{{content.Send}}</md-button>
    </div>
</div>
<div class="btn-feed animation-g"></div>

<md-button ng-click="showAdvanced($event)" class="md-accent md-fab md-fab-bottom-right">
    <md-icon md-svg-src="asset/image/ic_help_outline_black_24px.svg"></md-icon>
    <md-tooltip md-direction="left">Help</md-tooltip>
</md-button>

<script type="text/ng-template" id="dialog1.tmpl.html">
    <md-dialog aria-label="Mango (Fruit)">
        <form ng-cloak>
            <md-toolbar style="background:rgb(95, 160, 154);>
                <div class="md-toolbar-tools">
                    <h2>help</h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="cancel()">
                        <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <md-dialog-contentstyle="background: style="background: #4f6361; color: white;">
                <div class="md-dialog-content">
                    <h2> Overview</h2>
                    <p>The Overview dashboard takes all of your financial asset information and gives you a quick overview of each area and market.</p>
                    <table class="">
                        <tr class="">
                            <td class="marketvalue ">Net Asset Value:</td>
                            <td class="marketvalue ">This is where you can see your current net worth.</td>
                        </tr>
                        <tr class="">
                            <td class="marketvalue ">Cash Balance:</td>
                            <td class="marketvalue ">This is where you can see your current net worth.</td>
                        </tr>
                        <tr class="">
                            <td class="marketvalue ">Discretionary Private Portfolio:</td>
                            <td class="marketvalue ">The net worth of your private portfolio which you delegated its investing process to Mofid asset management via a private portfolio management contract.</td>
                        </tr>
                        <tr class="">
                            <td class="marketvalue ">Hami Fund:</td>
                            <td class="marketvalue ">Net Asset Value of your current holdings in Hami fixed income mutual fund.</td>
                        </tr>
                        <tr class="">
                            <td class="marketvalue ">Mutual Funds:</td>
                            <td class="marketvalue ">Net Asset Value of your holdings in Mofid equity mutual funds.</td>
                        </tr>
                        <tr class="">
                            <td class="marketvalue ">Non-Discretionary Portfolio:</td>
                            <td class="marketvalue ">The net worth of your security holdings in Mofid brokerage which deal on an execution only basis.</td>
                        </tr>
                        <tr class="">
                            <td class="marketvalue ">Consolidate Portfolio:</td>
                            <td class="marketvalue ">A collection of one or more portfolios belonging to a specific customer that can be analyzed on a consolidated level."</td>
                        </tr>
                        <tr class="">
                            <td class="marketvalue">Asset Allocation:</td>
                            <td class="marketvalue ">This shows you a top-down view of your investments across all of the asset classes and industry allocations to provide you a view along with a long term strategic allocation."</td>
                        </tr>
                        <tr class="">
                            <td class="marketvalue ">Gainers and Losers:</td>
                            <td class="marketvalue ">You will see how your stocks are performing vs the TSE for today, if after market close you will see how they ended the day vs the TSE.</td>
                        </tr>
                    </table>



                </div>
            </md-dialog-content style="background: #4f6361; color: white;">

            <md-dialog-actions layout="row">
                <md-button href="http://en.wikipedia.org/wiki/finance" target="_blank" md-autofocus>
                    More on Wikipedia
                </md-button>
                <span flex></span>
            </md-dialog-actions>
        </form>
    </md-dialog>
</script>