<div class="login-bg animation-g" ng-controller="registerFaCtrl">
    <div class="logo-footer-4"><div class="mfd-logo3-m"></div></div>
    <div class="panellogin">
        <div class="login-iner">
            <div class="back-to" ui-sref="loginFa">ورود</div>
            <div class="logoholder"><span class="mfd-entekhab2-m"></span></div>
            <form name="Form">
                <div class="inputholder">
                    <div class="mfd-user2"></div>
                    <input name="nationalID" class="inputbox" ng-model="nationalID" placeholder="شماره ملی" required />
                </div>
                <button ng-click="ConfirmNationalIdFn()" class="btnlogin">ادامه</button>
            </form>
        </div>
        <div class="forgotpass">شماره ملی خود را وارد کنید</div>

        <div class="footer-login">
            <div class="mfd-logo5-m"></div>
            <div class="copyright-login">© 1396</div>
        </div>

    </div>
</div>

