<div class="login-bg animation-g" ng-controller="registerFeedbackFaCtrl">
        <div class="logo-footer-4"><div class="mfd-logo3-m"></div></div>
        <div class="panellogin">
    <div class="login-iner">
        <div class="back-to" ui-sref="loginFa">ورود</div>
        <div class="logoholder"><span class="mfd-entekhab2-m"></span></div>
        <form name="Form">
            <div class="inputholder">
                <div class="mfd-envelop"></div>
                <textarea name="registerfeedBackText" class="inputbox" ng-model="registerfeedBackText" placeholder="پیام شما . . ." style="height:100px;" required/>
            </div>
            <button ng-click="registerfeedBackTextFn()" class="btnlogin">ارسال</button>
        </form>
</div>
    <div class="forgotpass" >درخواست خود را برای فعال سازی ارسال کنید</div>
  
    <div class="footer-login"><div class="mfd-logo6-m"></div>
    <div class="copyright-login">© 2017</div></div>
    
    </div>
</div>