<div class="login-bg animation-g" ng-controller="register2EnCtrl">
        <div class="logo-footer-4"><div class="mfd-logo4-m"></div></div>
        <div class="panellogin">
    <div class="login-iner">
        <div class="back-to" ui-sref="loginEn">Login</div>
        <div class="logoholder"><span class="mfd-entekhab1-m"></span></div>
        <div class="inputholder">
        </div>
        <button ng-click="confirmAndContinueFn()" class="btnlogin">confirm & continue</button>
    </div>
            <div class="forgotpass">{{MobileNumber}}<br /> {{EmailAddress}}</div>
    <div class="forgotpass" >"If confirmed in further information click on the activation code will be sent to the following number"</div>
  
    <div class="footer-login"><div class="mfd-logo6-m"></div>
    <div class="copyright-login">© 2017</div></div>
    
    </div>
</div>