<div class="login-bg animation-g" ng-controller="register2FaCtrl">
        <div class="logo-footer-4"><div class="mfd-logo3-m"></div></div>
        <div class="panellogin">
    <div class="login-iner">
        <div class="back-to" ui-sref="loginFa">ورود</div>
        <div class="logoholder"><span class="mfd-entekhab2-m"></span></div>
        <div class="inputholder">
        </div>
        <button ng-click="confirmAndContinueFn()" class="btnlogin">تایید و ادامه</button>
    </div>
            <div class="forgotpass">{{MobileNumber}}<br /> {{EmailAddress}}</div>
    <div class="forgotpass" >"در صورت تایید و ادامه اطلاعات بالا کد فعال سازی برای شما پیامک خواهد شد"</div>
  
    <div class="footer-login"><div class="mfd-logo5-m"></div>
    <div class="copyright-login">© 1396</div></div>
    
    </div>
</div>