<div class="login-bg" ng-controller="resetPassWordEnCtrl">
        <div class="logo-footer-4"><div class="mfd-logo4-m"></div></div>
        <div class="panellogin">
    <div class="login-iner">
        <div class="back-to" ui-sref="loginEn">Login</div>
        <div class="logoholder"><span class="mfd-entekhab1-m"></span></div>
        <form name="Form">
            <div class="inputholder">
                <div class="mfd-key"></div>
                <input name="NewPassword" class="inputbox" placeholder="New Password" type="password" ng-model="NewPassword" required/>
            </div>
            <div class="inputholder">
                <div class="mfd-key"></div>
                <input name="ConfirmNewPassWord" class="inputbox" placeholder="Reapet Password" type="password" ng-model="ConfirmNewPassWord" required/>
            </div>
            </form>
                <div ng-click="resetPassWordFn()" class="btnlogin">Reset Password</div>
</div>
    <div class="forgotpass">Recovery account.</div>
  
    <div class="footer-login"><div class="mfd-logo6-m"></div>
    <div class="copyright-login">© 2017</div></div>
    
    </div>
</div>