<div class="login-bg">
        <div class="logo-footer-4"><div class="mfd-logo3-m"></div></div>
        <div class="panellogin">
    <div class="login-iner">
        <div class="logoholder"><span class="mfd-entekhab2-m"></span></div>
        <div class="inputholder">
            <div class="mfd-key"></div>
            <input class="inputbox" placeholder="گذرواژه جدید" type="password"/>
        </div>
        <div class="inputholder">
            <div class="mfd-key"></div>
            <input class="inputbox" placeholder="تکرار گذرواژه" type="password"/>
        </div>
        <div class="btnlogin">ثبت گذرواژه</div>
    </div>
            <div class="forgotpass">بازیابی حساب کاربری</div>
  
    <div class="footer-login"><div class="mfd-logo5-m"></div>
    <div class="copyright-login">© 1396</div></div>
    
    </div>
</div>