<div class="login-bg" ng-controller="forgotPasswordEnCtrl">
        <div class="logo-footer-4"><div class="mfd-logo4-m"></div></div>
        <div class="panellogin">
    <div class="login-iner">
        <div class="back-to" ui-sref="loginEn">Login</div>
        <div class="logoholder"><span class="mfd-entekhab1-m"></span></div>
        <form name="Form">
            <div class="inputholder">
                <div class="mfd-envelop"></div>
                <input name="emailAddress" class="inputbox" ng-model="emailAddress" placeholder="E-mail" required/>
            </div>
            <button ng-click="sendRecoverypageFn()" class="btnlogin">Recovery Account</button>
        </form>
</div>
    <div class="forgotpass">Recovery will be sent to your email account.</div>
  
    <div class="footer-login"><div class="mfd-logo6-m"></div>
    <div class="copyright-login">© 2017</div></div>
    
    </div>
</div>