<div class="login-bg" ng-controller="forgotPasswordFaCtrl">
    <div class="logo-footer-4"><div class="mfd-logo3-m"></div></div>
    <div class="panellogin">
        <div class="login-iner">
            <div class="back-to" ui-sref="loginFa">ورود</div>
            <div class="logoholder"><span class="mfd-entekhab2-m"></span></div>
            <form name="Form">
                <div class="inputholder">
                    <div class="mfd-envelop"></div>
                    <input name="emailAddress" class="inputbox" ng-model="emailAddress" placeholder="ایمیل" required />
                </div>
                <button ng-click="sendRecoverypageFn()" class="btnlogin">بازیابی حساب</button>
            </form>
        </div>
        <div class="forgotpass">لینک بازیابی برای شماایمیل خواهد شد</div>

        <div class="footer-login">
            <div class="mfd-logo5-m"></div>
            <div class="copyright-login">© 1396</div>
        </div>

    </div>
</div>