@font-face {
  font-family: 'isw';
  src:url('../fonts/iransans/IRANSansWeb(FaNum).woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'isw-b';
  src:url('../fonts/iransans/IRANSansWeb(FaNum)_Bold.woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'isw-l';
  src:url('../fonts/iransans/IRANSansWeb(FaNum)_Light.woff'),
  url('../fonts/iransans/IRANSansWeb(FaNum)_Light.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'isw-m';
  src:url('../fonts/iransans/IRANSansWeb(FaNum)_Medium.woff'),
  url('../fonts/iransans/IRANSansWeb(FaNum)_Medium.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'isw-u';
  src:url('../fonts/iransans/IRANSansWeb(FaNum)_UltraLight.woff'),
  url('../fonts/iransans/IRANSansWeb(FaNum)_UltraLight.woff');
  font-weight: normal;
  font-style: normal;
}
