.smallblock-color1 {
    background-color: rgba(0, 100, 118,1);
}
.smallblock-color2 {
    background-color: rgba(37, 70, 165,1)
}
.smallblock-color3 {
    background-color: rgba(141,112,1104,1);
}
.smallblock-color4 {
    background-color: rgba(22, 135, 135,1);
}
.smallblock-color5 {
    background-color: rgba(14, 176, 203,1);
}
.smallblock-color6 {
    background-color: rgba(40, 143, 34,1);
}
.smallblock-color7 {
    background-color: rgba(115, 166, 0,1);
}
.smallblock{
    margin: 10px;
    position: relative;
    font-family: 'isw-u';
    height: 142px;
    /*height: 120px;*/
   
}
.smallbloc-title{
    width: 100%;
    padding: 10px 10px;
    text-align: center;
    background: rgba(255,255,255,0.2);
    font-family: 'isw';
    color: rgba(255,255,255,1);
    cursor: default;
    position: absolute;
    right: 0;
    top: 0;
    text-align: right;
}
.smallbloc-icon{
    font-size: 50px;
    color: rgba(78,218,192,1);
    cursor: default;
}
.smallblock-value{
    font-family: 'isw-b';
    color: rgba(255,255,255,1);
    font-size: 17px;
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
}
.smallblock-percent{
    position: relative;
    font-family: 'isw-b';
    color: rgba(255, 255, 255,1);
    margin: 10px;
    margin-bottom: 0;
}
.smallblock-inerholder {
    display: inline-block;
}
.panelscrollvertical{
    position: relative;
    min-height: 130px;
}
.panelscrollvertical-btn{
    color: rgba(255,255,255,0.5);
    display: inline-block;
    padding-top: 25px;
    line-height: 100%;
    height: 100%;
    font-size: 70px;
    cursor: pointer;
    top: 0;
}
.panelscrollvertical-btn-g-r{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,1d4a5f+45&0+0,1+45 */
background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(29,74,95,1) 45%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(29,74,95,1) 45%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(29,74,95,1) 45%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#1d4a5f',GradientType=1 ); /* IE6-9 */
}
.panelscrollvertical-btn-g-l{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1d4a5f+45,ffffff+100&1+45,0+100 */
background: -moz-linear-gradient(left, rgba(29,74,95,1) 45%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(29,74,95,1) 45%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(29,74,95,1) 45%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d4a5f', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
}
.panelscrollvertical-btn:hover{
    color: rgba(78,218,192,0.5);
}
.panelscrollvertical-middle{
    position: relative;
    padding-bottom: 15px;
    white-space:nowrap;
    background: rgba(255,255,255,0.02);
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.panelscrollvertical-middle-holder{
    position: relative;
    white-space:nowrap;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    width: 100%;
    overflow-x: hidden;
}
.blockofpanelscrollvertical{
    text-align: center;
    position: relative;
    border-right: 3px dotted rgba(255, 255, 255, 0.1);
    border-right-width: 3px;
    border-right-style: dotted;
    border-right-color: rgba(255, 255, 255, 0.1);
    display: inline-block;
    background: rgba(160, 2, 255, 0.04);
}
.blockofpanelscrollvertical-title{
    margin: 10px;
    font-size: 15px;
    color: rgb(94, 182, 212);
}
.blockofpanelscrollvertical-value{
    font-size: 15px;
    background: rgba(255,255,255,.04);
}
.blockofpanelscrollvertical-change{
    padding: 5px;
    font-size: 10px;
    color: rgba(78,218,192,0.5);
}
table.marketvalue {
    font-family: 'isw-l';
    font-size: 13px;
    border-collapse: collapse;
    width: 100%;
    background: rgba(8, 249, 223, 0.05);
    border: none;
}
@media (min-width: 1200px) {
    table.marketvalue {
    height: 281px;
}
}


td.marketvalue, th.marketvalue {
    border: none;
    padding: 7px;
    line-height: 1.6em;
    font-size: 0.975em;
}

tr.marketvalue:nth-child(even) {
    /*Kbackground-color: rgba(0,0,0,0.1);*/
    /*color: rgba(255,255,255,0.7);*/
}

/*////////////////////////////////////////tabperaperty*/
.tab-component{
    position: relative;
    border:1px solid rgba(255,255,255,0.1);
}
.tab-holder{
    position: relative;
    height: 400px;
    overflow: hidden;
}
.tab{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.tab-show{
    opacity: 1;
}
.tab-btn-holder{
    margin: 5px;
    position: relative;
}
.btn-tab{
    width: 47%;
    text-align: center;
    display: inline-block;
    padding: 5px;
    border: 1px solid rgba(255,255,255,0.1);
    cursor: pointer;
    background: rgba(1, 1, 1, 0.1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; 
}
.btn-tab-selected{
    border-bottom-color:rgba(255,255,255,0);
    background: rgba(1, 1, 1, 0);
    
}
.btn-tab:hover{
    background-color: rgba(255,255,255,0.1);
}
.btn-tab-selected:hover{
    border-bottom-color:rgba(255,255,255,0);
    background: rgba(1, 1, 1, 0);
    cursor: default;
}
.loading-1{
    position: relative;
    display: flex;
    opacity: 0.5;
    align-items: center;
  justify-content: center;
  width: 100%;
}
.alignerflex {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}
.blockofcharthomerange{
    margin: 19px 10px;
    position: absolute;
    top: 0;
}

/*loader*/
svg.cls {
    
  width: 100px;
  height: 100px;
  margin: 10px;
  display: inline-block;
}

.cls-1, .cls-2 {
  fill: none;
  stroke-linecap: bevel;
  stroke-linejoin: round;
}

.cls-1 {
  stroke-width: 2px;
}

.cls-2 {
  fill: none;
  stroke: #fff;
  stroke-width: 4px;
}

.cls-3 {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 5px;
}

.made-by {
  font-size: 11px;
  color: #1689c9;
}
.made-by a {
  text-decoration: none;
  color: #147ab2;
  font-weight: bold;
}
/*loader*/

.chart {position:relative;display:inline-block;width:110px;height:110px;text-align:center;color:#fff;}
.chart canvas {position: absolute;top: 0;left: 0;z-index:0 !important;width:110px;height:110px;}
.percent {display: inline-block;line-height: 110px;z-index: 2; font-size:1.5em;color: rgba(255,255,255,0.5);position: absolute;     right: 25px;
}
.percent:after {
    content: '%';
}
.md-button-custome {
    background-color: rgba(0, 255, 207, 0.25)!important;
}
.marketvaluetopblock {
    margin: 10px;
    margin-top: 0;
    padding: 10px;
    border: 1px solid rgba(94, 182, 212,0.2);
    min-height: 100px;
    min-width: 100px;
}
.marketvaluetopblock-title{
    font-size: 20px;
    color: rgb(94, 182, 212);
}
.marketvaluetopblock-value{
    margin: 0 -10px 0 -10px;
    padding: 0 10px 0 10px;
    font-family: 'isw-u';
    font-size: 33px;
    background: rgba(255,255,255,.04);
    color: rgba(250, 250, 250, 0.6);
}
.marketvaluetopblock-change{
    font-size: 13px;
    color: rgba(78,218,192,0.5);
    padding-top: 4px;
}
    .redcolorbracket{
        color:rgba(255,118,118,1)!important;
    }
    .redcolorbracket::before{
        content: '(';
    }
    .redcolorbracket::after{
        content: ')';
    }
    .tablesell{
        /*color: rgba(255,118,118,1)!important;*/
        background: rgba(255,118,118,0.1)!important;
    }
    .tablesellborder{
        border-left: 3px solid rgba(78, 218, 135, 0.41)!important;
        
    }
    .tablebuy{
        /*color: rgba(78, 218, 135, 0.81)!important;*/
        background: rgba(78, 218, 135, 0.1)!important;
    }
    .tablebuyborder{
        border-left: 3px solid rgba(255, 118, 118, 0.41)!important;
    }
    tspan.highcharts-text-outline{
        fill: rgba(0, 0, 0, 0);
        stroke: rgba(0, 0, 0, 0);
        stroke-width: 2px;
    }
    .k-grid-content{
        overflow-y: auto!important;
    }
    input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill{
        background-color: rgba(250, 255, 189,0.2)!important;
        color: rgba(0, 0, 0,0.5)!important;
    }
    .k-grouping-row p {
    color: rgba(255, 229, 5, 0.7)!important;
}

.md-toast .md-toast-content {
  background-color: #B14141;
  padding:20px;
}

.btn-feed{
    position: absolute;
    line-height: 30px;
    right: 0;
    bottom: 300px;
    color: rgba(12, 64, 75, 1);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    cursor: pointer;
    z-index: 99999;
}
.btn-feed::before{
    font-family: 'isw-b';
    position: absolute;
    content: 'feedback';
    padding: 5px 25px;
    background-color: rgb(78,218,192);
    color: rgba(12, 64, 75, 1);
    border-bottom: 5px solid rgba(12, 64, 75, 1);
    cursor: pointer;
}
.block-feed{
    position: absolute;
    overflow: hidden;
    right: 0;
    bottom: 26px;
    width: 0;
    background-color: rgb(86, 136, 128);
    z-index: 99999;
    opacity: 0;
    border-radius: 6px;
}
md-tabs.md-docs-dark-theme .md-tab.md-active, md-tabs.md-docs-dark-theme .md-tab.md-active md-icon, md-tabs.md-docs-dark-theme .md-tab.md-focused, md-tabs.md-docs-dark-theme .md-tab.md-focused md-icon{
    font-size: 1.1rem;
    /*background-color: rgba(1,1,1,0.2);*/
    font-family: 'isw-b'

        /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1a82f7), to(#2F2727));

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, rgba(1,1,1,0.2), rgba(1,1,1,0.0));

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, rgba(1,1,1,0.2), rgba(1,1,1,0.0));

  /* IE 10 */
  background: -ms-linear-gradient(top, rgba(1,1,1,0.2), rgba(1,1,1,0.0));

  /* Opera 11.10+ */
  background: -o-linear-gradient(top, rgba(1,1,1,0.2), rgba(1,1,1,0.0));
}


.k-header.k-grid-toolbar {
    border-color: rgba(92, 94, 105, 0.6)!important;
}

.k-block, .k-button, .k-draghandle, .k-grid-header, .k-grouping-header, .k-header, .k-pager-wrap, .k-toolbar, .k-treemap-tile, html .km-pane-wrapper .k-header {
    background-color: rgba(23, 79, 95, 0)!important;
}
.k-calendar .k-footer .k-nav-today {
    color: #b53f6a!important;
}

.k-gantt-toolbar .k-button, .k-gantt>.k-header .k-link, .k-gantt>.k-header li, .k-grid .k-header .k-button, .k-scheduler .k-header .k-button, .k-scheduler .k-header .k-link, .k-scheduler .k-header li, .km-pane-wrapper .k-header .k-button{
        border-color: rgba(131, 208, 202, 0.44)!important;
}
.k-grid-excel {
    position: absolute!important;
    bottom: 0px!important;
    right: 200px!important;
    z-index: 1;
}
.k-grid-excel:hover {
    background-color: rgba(131, 208, 202, 0.24)!important;
}

.k-calendar .k-today {
    background-color: rgba(63, 181, 180, 0.61)!important;
}
.iner-class-block-loader {
    position: relative;
    text-align: center;
    background:rgba(0,0,0,0.5);
    padding:20px;
    border-radius:10px;
    margin: auto;
    width: 100px;
    padding:30px;
}
.midelclassblockloader{
    position: absolute;
    margin: auto 47.4%;
    margin-top: 10px;
    bottom: 27%;
}
.outerclassblockloader {
    display: none;
    opacity: 0;
    position: absolute;
    z-index: 99999;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    background: rgba(54, 54, 54, 0.1); /* For browsers that do not support gradients */
  /*background: -webkit-radial-gradient(rgba(0,0,0,1), rgba(0,0,0,0), rgba(0,0,0,0));*/ /* Safari 5.1 to 6.0 */
  /*background: -o-radial-gradient(rgba(0,0,0,1), rgba(0,0,0,0), rgba(0,0,0,0));*/ /* For Opera 11.6 to 12.0 */
  /*background: -moz-radial-gradient(rgba(0,0,0,1), rgba(0,0,0,0), rgba(0,0,0,0));*/ /* For Firefox 3.6 to 15 */
  /*background: radial-gradient(rgba(0,0,0,1), rgba(0,0,0,0), rgba(0,0,0,0));*/ /* Standard syntax */
}
.activeloader{
    display: block!important;
}
.deactiveloader{
    display: none!important;
}
.opyactiveloader{
    opacity: 1!important;
}
.opydeactiveloader{
    opacity: 0!important;
}
.loader-logo{
    position: relative;
    top: 100px;
    font-size: 96px;
    color: rgba(255,255,255,0.3);
    text-align: center;
    margin:10px;
}
text {
    text-decoration: none!important;
}