@charset "UTF-8";
@font-face { font-family:"Arial";font-variant:normal;font-style:normal;font-weight:normal;src:url("#FontID0") format(svg)}
.str1 {stroke:#F58634;stroke-width:8.33268}
.str0 {stroke:#ED3237;stroke-width:8.33268}
.str2 {stroke:#00A859;stroke-width:8.33268}
.fil2 {fill:none}
.fil4 {fill:#A9ABAE}
.fil6 {fill:#96989A}
.fil0 {fill:#848688}
.fil3 {fill:#373435}
.fil3:hover {fill:#373435;font-size:39.626px; cursor: pointer;}
.fil12 {fill:#1B81C2}
.fil11 {fill:#1B8AB2}
.fil7 {fill:#DD2424}
.fil8 {fill:#FD9E01}
.fil10 {fill:#FFF9EE}
.fil5 {fill:#F58634;fill-rule:nonzero}
.fil1 {fill:#ED3237;fill-rule:nonzero}
.fil9 {fill:#747473;fill-opacity:0.968627}
.fnt0 {font-weight:normal;font-size:36.626px;font-family:'Arial'}
.fnt1 {font-weight:normal;font-size:52.324px;font-family:'Arial'}
.fnt1:hover {font-weight:normal;font-size:55.324px;font-family:'Arial'; cursor: pointer;}
