<div class="login-bg animation-g" ng-controller="loginEnCtrl">
    <div class="logo-footer-4"><div class="mfd-logo4-m"></div></div>
    <div class="panellogin">
        <div class="login-iner">
            <div class="logoholder"><span class="mfd-entekhab1-m"></span></div>
            <form name="Form">
                <div class="inputholder">
                    <div class="mfd-user2"></div>
                    <input name="userName" class="inputbox" ng-model="userName" placeholder="Username" required />
                </div>
                <div class="inputholder">
                    <div class="mfd-key"></div>
                    <input name="passWord" class="inputbox" type="password" ng-model="passWord" placeholder="Password" required />
                </div>
                <button ng-click="loginFn()" class="btnlogin">LOGIN</button>
            </form>
        </div>
        <div class="forgotpass"><a ui-sref="forgotpasswordEn">Forgot password ?</a></div>
        <div class="forgotpass"><a ui-sref="registerEn">Register</a></div>
        <div class="back-to"  style="font-family:'isw-o';" ui-sref="loginFa">فارسی</></div>

        <div class="footer-login">
            <div class="mfd-logo6-m"></div>
            <div class="copyright-login">© Powered by mofidentekhab</div>
        </div>

    </div>
</div>