<br/>
<div class="scope-panel">
  <div class="row">
    <div class="col-lg-4 col-md-12 col-sm-12">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="medium-panel k-aaa panel-blur">
            <div class="panel-body">
              <div class="smallblock">
                <!--<div class="smallbloc-title">ارزش کل دارایی های شما در مفید</div>-->
                <div class="smallbloc-icon mfd-user"></div>
                <div class="smallblock-value"> 1.500.000 ریال</div>
                <div class="smallblock-percent">0.32%</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="medium-panel k-aaa panel-blur">
            <div class="panel-body">
              <div class="smallblock">
                <!--<div class="smallbloc-title">مانده نقد کارگزاری</div>-->
                <div class="smallbloc-icon mfd-user"></div>
                <div class="smallblock-value"> 1.500.000 ریال</div>
                <div class="smallblock-percent">0.32%</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="medium-panel k-aaa panel-blur">
            <div class="panel-body">
              <div class="smallblock">
                <!--<div class="smallbloc-title">ارزش سبد اختصاصی شما</div>-->
                <div class="smallbloc-icon mfd-user"></div>
                <div class="smallblock-value"> 1.500.000 ریال</div>
                <div class="smallblock-percent">0.32%</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="medium-panel k-aaa panel-blur">
            <div class="panel-body">
              <div class="smallblock">
                <!--<div class="smallbloc-title">مانده صندوق حامی</div>-->
                <div class="smallbloc-icon mfd-user"></div>
                <div class="smallblock-value"> 1.500.000 ریال</div>
                <div class="smallblock-percent">0.32%</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="medium-panel k-aaa panel-blur">
            <div class="panel-body">
              <div class="smallblock">
                <!--<div class="smallbloc-title">ارزش سبد مشاوره شما</div>-->
                <div class="smallbloc-icon mfd-user"></div>
                <div class="smallblock-value"> 1.500.000 ریال</div>
                <div class="smallblock-percent">0.32%</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="medium-panel k-aaa panel-blur">
            <div class="panel-body">
              <div class="smallblock">
                <!--<div class="smallbloc-title">ارزش پرتفوی شما نزد کارگزاری</div>-->
                <div class="smallbloc-icon mfd-user"></div>
                <div class="smallblock-value"> 1.500.000 ریال</div>
                <div class="smallblock-percent">0.32%</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="medium-panel k-aaa panel-blur">
            <div class="panel-body">
              <div class="smallblock">
                <!--<div class="smallbloc-title">ارزش صندوقهای سرمایه گذاری</div>-->
                <div class="smallbloc-icon mfd-user"></div>
                <div class="smallblock-value"> 1.500.000 ریال</div>
                <div class="smallblock-percent">0.32%</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="medium-panel k-aaa panel-blur">
            <div class="panel-body">
              <div class="smallblock">
                <br/>
                <div class="smallbloc-icon mfd-user"></div>
                <div class="smallbloc-title">خوش آمدید</div>
                <br/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-8 col-md-12 col-sm-12">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="medium-panel k-aaa panel-blur">
            <div class="panel-body">
              <div class="col-lg-12 col-md-12 col-sm-12 no-padding">
                <div class=" k-aaa panel-blur">
                  <div class="panelscrollvertical">

                    <div class="panelscrollvertical-middle-holder">
                      <div class="panelscrollvertical-middle">
                        <div class="blockofpanelscrollvertical">
                          <div class="blockofpanelscrollvertical-title">DJI</div>
                          <div class="blockofpanelscrollvertical-value">1876546</div>
                          <div class="blockofpanelscrollvertical-change">+40.04(+0.03%)</div>
                        </div>
                        <div class="blockofpanelscrollvertical">
                          <div class="blockofpanelscrollvertical-title">DJI</div>
                          <div class="blockofpanelscrollvertical-value">1876546</div>
                          <div class="blockofpanelscrollvertical-change">+40.04(+0.03%)</div>
                        </div>
                        <div class="blockofpanelscrollvertical">
                          <div class="blockofpanelscrollvertical-title">DJI</div>
                          <div class="blockofpanelscrollvertical-value">1876546</div>
                          <div class="blockofpanelscrollvertical-change">+40.04(+0.03%)</div>
                        </div>
                        <div class="blockofpanelscrollvertical">
                          <div class="blockofpanelscrollvertical-title">DJI</div>
                          <div class="blockofpanelscrollvertical-value">1876546</div>
                          <div class="blockofpanelscrollvertical-change">+40.04(+0.03%)</div>
                        </div>
                        <div class="blockofpanelscrollvertical">
                          <div class="blockofpanelscrollvertical-title">DJI</div>
                          <div class="blockofpanelscrollvertical-value">1876546</div>
                          <div class="blockofpanelscrollvertical-change">+40.04(+0.03%)</div>
                        </div>
                        <div class="blockofpanelscrollvertical">
                          <div class="blockofpanelscrollvertical-title">DJI</div>
                          <div class="blockofpanelscrollvertical-value">1876546</div>
                          <div class="blockofpanelscrollvertical-change">+40.04(+0.03%)</div>
                        </div>
                        <div class="blockofpanelscrollvertical">
                          <div class="blockofpanelscrollvertical-title">DJI</div>
                          <div class="blockofpanelscrollvertical-value">1876546</div>
                          <div class="blockofpanelscrollvertical-change">+40.04(+0.03%)</div>
                        </div>
                        <div class="blockofpanelscrollvertical">
                          <div class="blockofpanelscrollvertical-title">DJI</div>
                          <div class="blockofpanelscrollvertical-value">1876546</div>
                          <div class="blockofpanelscrollvertical-change">+40.04(+0.03%)</div>
                        </div>

                      </div>
                    </div>
                    <div class="mfd-right panelscrollvertical-btn abs-r panelscrollvertical-btn-g-r"></div>
                    <div class="mfd-left panelscrollvertical-btn abs-l panelscrollvertical-btn-g-l"></div>
                  </div>

                </div>
              </div>
              <div class="row">
                <div class="col-lg-8 col-md-12 col-sm-12">
                  <div id="stockchart-home" style="height: 400px; min-width: 310px">loading . . .</div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                  <table>
                    <tr>
                      <td>بسته</td>
                      <td>وضعیت بازار</td>
                    </tr>
                    <tr>
                      <td>79,541.40 155.83</td>
                      <td>شاخص کل</td>
                    </tr>
                    <tr>
                      <td>16,082.50 28.99</td>
                      <td>شاخص كل (هم وزن)</td>
                    </tr>
                    <tr>
                      <td>3,336,559.931 B</td>
                      <td>ارزش بازار</td>
                    </tr>
                    <tr>
                      <td>95/9/6 12:42:47</td>
                      <td>اطلاعات قیمت</td>
                    </tr>
                    <tr>
                      <td>58,984</td>
                      <td>تعداد معاملات</td>
                    </tr>
                    <tr>
                      <td>2,928.821 B</td>
                      <td> ارزش معانلات</td>
                    </tr>
                    <tr>
                      <td>735.064 M</td>
                      <td>حجم معاملات</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="medium-panel k-aaa panel-blur">
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
              <div id="pie5"></div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
              <table>
                <tr>
                  <th>Company</th>
                  <th>SYM</th>
                  <th>volume</th>
                  <th>price</th>
                </tr>
                <tr>
                  <td>cisco</td>
                  <td>CSCO</td>
                  <td>57M</td>
                  <td>25.4</td>
                </tr>
                <tr>
                  <td>cisco</td>
                  <td>CSCO</td>
                  <td>57M</td>
                  <td>25.4</td>
                </tr>
                <tr>
                  <td>cisco</td>
                  <td>CSCO</td>
                  <td>57M</td>
                  <td>25.4</td>
                </tr>
                <tr>
                  <td>cisco</td>
                  <td>CSCO</td>
                  <td>57M</td>
                  <td>25.4</td>
                </tr>
                <tr>
                  <td>cisco</td>
                  <td>CSCO</td>
                  <td>57M</td>
                  <td>25.4</td>
                </tr>
                <tr>
                  <td>cisco</td>
                  <td>CSCO</td>
                  <td>57M</td>
                  <td>25.4</td>
                </tr>
                <tr>
                  <td>cisco</td>
                  <td>CSCO</td>
                  <td>57M</td>
                  <td>25.4</td>
                </tr>
                <tr>
                  <td>cisco</td>
                  <td>CSCO</td>
                  <td>57M</td>
                  <td>25.4</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>