<div class="login-bg">
        <div class="logo-footer-4"><div class="mfd-logo4-m"></div></div>
        <div class="panellogin">
    <div class="login-iner">
        <div class="logoholder"><span class="mfd-entekhab1-m"></span></div>
        <div class="inputholder">
            <div class="mfd-user2"></div>
            <input class="inputbox" placeholder="Username"/>
        </div>
        <div class="inputholder">
            <div class="mfd-key"></div>
            <input class="inputbox" placeholder="Password"/>
        </div>
        <div ui-sref="panel" class="btnlogin">LOGIN</div>
    </div>
    <div class="forgotpass"><a href="">Forgot Password ?</a></div>
  
    <div class="footer-login"><div class="mfd-logo6-m"></div>
    <div class="copyright-login">© 1993 - 2017</div></div>
    
    </div>
    
    </div>