<div>
    <div class="panel-bg">
        <div class="footer-main"><div class="mfd-logo4"></div></div>
        <div class="main-admin">
            <aside class="al-sidebar .al-sidebar-uncollapsing animation-g">
                <div class="slimscrolldiv">
                    <div class="sidebar">
                        <ul id="sidebar-menu t-rtl">
                            <li>
                                <div class="title-menu-main">
                                    <div class="icon-align t-float-r"><i class="mfd-dashboard"></i></div>
                                    <div class="title-menu t-float-r">main</div>
                                    <div class="menu-cast t-float-l"><i class="mfd-right icon-area"></i></div>
                                </div>
                                <div class="sidebar-submenu sidebar-submenu-unaccording">
                                    <ul>
                                        <li ui-sref="panel_en.home"><div class="title-menu-main2"><div class="title-menu">home</div></div></li>
                                        <li ui-sref="panel_en.page1"><div class="title-menu-main2"><div class="title-menu">page1</div></div></li>
                                        
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="title-menu-main">
                                    <div class="icon-align t-float-r"><i class="mfd-roket"></i></div>
                                    <div class="title-menu t-float-r">theme UI (itselt)</div>
                                    <div class="menu-cast .t-float-l"><i class="mfd-right icon-area"></i></div>
                                </div>
                                <div class="sidebar-submenu sidebar-submenu-unaccording">
                                    <ul>
                                        <li ui-sref="panel_en.sample_button"><div class="title-menu-main2"><div class="title-menu">button</div></div></li>
                                        <li ui-sref="panel_en.sample_input"><div class="title-menu-main2"><div class="title-menu">input</div></div></li>
                                        <li ui-sref="panel_en.sample_alert"><div class="title-menu-main2"><div class="title-menu">alert</div></div></li>
                                        <li ui-sref="panel_en.sample_icon"><div class="title-menu-main2"><div class="title-menu">icon</div></div></li>
                                        <li ui-sref="panel_en.sample_grid"><div class="title-menu-main2"><div class="title-menu">grid</div></div></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="title-menu-main">
                                    <div class="icon-align t-float-r"><i class="mfd-cubes"></i></div>
                                    <div class="title-menu t-float-r">Material Design</div>
                                    <div class="menu-cast .t-float-l"><i class="mfd-right icon-area"></i></div>
                                </div>
                                <div class="sidebar-submenu sidebar-submenu-unaccording">
                                    <ul>
                                        <li ui-sref="panel_en.mdesign_button"><div class="title-menu-main2"><div class="title-menu">Button</div></div></li>
                                        <li ui-sref="panel_en.mdesign_checkbox"><div class="title-menu-main2"><div class="title-menu">Checkbox</div></div></li>
                                        <li ui-sref="panel_en.mdesign_autocomplate"><div class="title-menu-main2"><div class="title-menu">Autocomplate</div></div></li>
                                     
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="title-menu-main">
                                    <div class="icon-align t-float-r"><i class="mfd-cubes"></i></div>
                                    <div class="title-menu t-float-r">Material UI</div>
                                    <div class="menu-cast .t-float-l"><i class="mfd-right icon-area"></i></div>
                                </div>
                                <div class="sidebar-submenu sidebar-submenu-unaccording">
                                    <ul>
                                        <li ui-sref="panel_en.mdesign_button"><div class="title-menu-main2"><div class="title-menu">Date picker</div></div></li>
                                       
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="title-menu-main">
                                    <div class="icon-align t-float-r"><i class="mfd-cubes"></i></div>
                                    <div class="title-menu t-float-r">Kendo UI</div>
                                    <div class="menu-cast .t-float-l"><i class="mfd-right icon-area"></i></div>
                                </div>
                                <div class="sidebar-submenu sidebar-submenu-unaccording">
                                    <ul>
                                        <li ui-sref="panel_en.sample-kendo-grid"><div class="title-menu-main2"><div class="title-menu">Grid</div></div></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="title-menu-main">
                                    <div class="icon-align t-float-r"><i class="mfd-chart"></i></div>
                                    <div class="title-menu t-float-r">Hightchart</div>
                                    <div class="menu-cast .t-float-l"><i class="mfd-right icon-area"></i></div>
                                </div>
                                <div class="sidebar-submenu sidebar-submenu-unaccording">
                                    <ul>
                                        <li ui-sref="panel_en.highchart_bar"><div class="title-menu-main2"><div class="title-menu">bar chart</div></div></li>
                                        <li ui-sref="panel_en.highchart_line"><div class="title-menu-main2"><div class="title-menu">line chart</div></div></li>
                                        <li ui-sref="panel_en.highchart_pie"><div class="title-menu-main2"><div class="title-menu">pie chart</div></div></li>
                                        <li ui-sref="panel_en.highchart_heat"><div class="title-menu-main2"><div class="title-menu">heat chart</div></div></li>
                                        <li ui-sref="panel_en.stockchart"><div class="title-menu-main2"><div class="title-menu">stockchart</div></div></li>
                                        <li ui-sref="panel_en.highmap"><div class="title-menu-main2"><div class="title-menu">map</div></div></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>

                    </div>
                    <div class="end-sidebar">
                        <div class="title-menu-main">
                            <div class="icon-align "><i class="mfd-roket"></i></div>
                            <div class="title-menu ">secend</div>
                            <div class="menu-cast ."><i class="mfd-right icon-area"></i></div>
                        </div>
                    </div>
                </div>
                <div class="sidebar-hover-elem"></div>
            </aside>
            <div class="page-top">
                <div class="al-logo"><div class="mfd-entekhab3-m"></div></div>
                <div class="collapse-menu animation-g"><i class="mfd-menu2"></i></div>
                <div class="user-profile"><div class="mfd-user"></div></div>
                <a ui-sref="login_en"><div class="btn-head "><div>SignOut</div></div></a>

            </div>
            <div class="al-holder ">
                <div class="al-main al-main-uncollapsing animation-p">
                    <div class="al-content ">
                        <ui-view></ui-view>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>