    <div class="content-top">
        <div>دکمه ها</div>
    </div>
    <div class="scope-panel">
    <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="medium-panel k-aaa panel-blur button-panel">
                <div class="panel-heading-title">
                    <div class="panel-title">دکمه فلت </div>
                </div>
                <div class="panel-body">
				<div class="button-wrapper">
					<button type="button" class="btn btn-default">پیشفرض</button>
				</div>
				<div class="button-wrapper">
					<button type="button" class="btn btn-primary">Primary</button>
				</div>
				<div class="button-wrapper">
					<button type="button" class="btn btn-success">Success</button>
				</div>
				<div class="button-wrapper">
					<button type="button" class="btn btn-info">Info</button>
				</div>
				<div class="button-wrapper">
					<button type="button" class="btn btn-warning">Warning</button>
				</div>
				<div class="button-wrapper">
					<button type="button" class="btn btn-danger">Danger</button>
				</div>
                </div>
            </div>
          </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="medium-panel k-aaa panel-blur button-panel">
                <div class="panel-heading-title">
                    <div class="panel-title">دکمه با سایه</div>
                </div>
                <div class="panel-body">
				<div class="button-wrapper">
					<button type="button" class="btn btn-default btn-raised">Default</button>
				</div>
				<div class="button-wrapper">
					<button type="button" class="btn btn-primary btn-raised">Primary</button>
				</div>
				<div class="button-wrapper">
					<button type="button" class="btn btn-success btn-raised">Success</button>
				</div>
				<div class="button-wrapper">
					<button type="button" class="btn btn-info btn-raised">Info</button>
				</div>
				<div class="button-wrapper">
					<button type="button" class="btn btn-warning btn-raised">Warning</button>
				</div>
				<div class="button-wrapper">
					<button type="button" class="btn btn-danger btn-raised">Danger</button>
				</div>
                </div>
            </div>
          </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="medium-panel k-aaa panel-blur button-panel df-size-button-panel">
                <div class="panel-heading-title">
                    <div class="panel-title">دکمه سایز های مختلف</div>
                </div>
                <div class="panel-body">
				<div class="button-wrapper">
					<button type="button" class="btn btn-default btn-xs">Default</button>
				</div>
				<div class="button-wrapper">
					<button type="button" class="btn btn-primary btn-sm">Primary</button>
				</div>
				<div class="button-wrapper">
					<button type="button" class="btn btn-success btn-mm">Success</button>
				</div>
				<div class="button-wrapper">
					<button type="button" class="btn btn-info btn-md">Info</button>
				</div>
				<div class="button-wrapper">
					<button type="button" class="btn btn-warning btn-xm">Warning</button>
				</div>
				<div class="button-wrapper">
					<button type="button" class="btn btn-danger btn-lg">Danger</button>
				</div>
                </div>
            </div>
          </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="medium-panel k-aaa panel-blur button-panel df-size-button-panel">
                <div class="panel-heading-title">
                    <div class="panel-title">دکمه غیر فعال</div>
                </div>
                <div class="panel-body">
				<div class="button-wrapper">
					<button type="button" class="btn btn-default" disabled="disabled">Default</button>
				</div>
				<div class="button-wrapper">
					<button type="button" class="btn btn-primary" disabled="disabled">Primary</button>
				</div>
				<div class="button-wrapper">
					<button type="button" class="btn btn-success" disabled="disabled">Success</button>
				</div>
				<div class="button-wrapper">
					<button type="button" class="btn btn-info" disabled="disabled">Info</button>
				</div>
				<div class="button-wrapper">
					<button type="button" class="btn btn-warning" disabled="disabled">Warning</button>
				</div>
				<div class="button-wrapper">
					<button type="button" class="btn btn-danger" disabled="disabled">Danger</button>
				</div>
                </div>
            </div>
          </div>
      </div>
    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="medium-panel k-aaa panel-blur">
                <div class="panel-heading-title">
                    <div class="panel-title">دکمه ایکون</div>
                </div>
                			<div class="panel-body">
					<div style={style_453423}>
                        <ul class="btn-list clearfix">
						<li>
							<button type="button" class="btn btn-primary btn-icon">
								<i class="mfd-key"></i>
							</button>
						</li>
						<li>
							<button type="button" class="btn btn-default btn-icon">
								<i class="mfd-key"></i>
							</button>
						</li>
						<li>
							<button type="button" class="btn btn-success btn-icon">
								<i class="mfd-key"></i>
							</button>
						</li>
						<li>
							<button type="button" class="btn btn-info btn-icon">
								<i class="mfd-key"></i>
							</button>
						</li>
						<li>
							<button type="button" class="btn btn-warning btn-icon">
								<i class="mfd-key"></i>
							</button>
						</li>
						<li>
							<button type="button" class="btn btn-danger btn-icon">
								<i class="mfd-key"></i>
							</button>
						</li>
					</ul>
					
					<ul class="btn-list clearfix">
						<li>
							<button type="button" class="btn btn-primary btn-with-icon">
								<i class="mfd-key"></i>Primary
							</button>
						</li>
						<li>
							<button type="button" class="btn btn-default btn-with-icon">
								<i class="mfd-key"></i>Default
							</button>
						</li>
						<li>
							<button type="button" class="btn btn-success btn-with-icon">
								<i class="mfd-key"></i>Success
							</button>
						</li>
						<li>
							<button type="button" class="btn btn-info btn-with-icon">
								<i class="mfd-key"></i>Info
							</button>
						</li>
						<li>
							<button type="button" class="btn btn-warning btn-with-icon">
								<i class="mfd-key"></i>Warning
							</button>
						</li>
						<li>
							<button type="button" class="btn btn-danger btn-with-icon">
								<i class="mfd-key"></i>Danger
							</button>
						</li>
					</ul>
                    </div>
			
			</div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="medium-panel k-aaa panel-blur">
                <div class="panel-heading-title">
                    <div class="panel-title">دکمه بزرگ</div>
                </div>
                			<div class="panel-body">
					<div class="row btns-row btns-same-width-lg">
						<div class="col-sm-4 col-xs-6">
							<button type="button" class="btn btn-primary btn-lg">Primary</button>
						</div>
						<div class="col-sm-4 col-xs-6">
							<button type="button" class="btn btn-success btn-lg">Success</button>
						</div>
						<div class="col-sm-4 col-xs-6">
							<button type="button" class="btn btn-info btn-lg">Info</button>
						</div>
						<div class="col-sm-4 col-xs-6">
							<button type="button" class="btn btn-default btn-lg">Default</button>
						</div>
						<div class="col-sm-4 col-xs-6">
							<button type="button" class="btn btn-warning btn-lg">Warning</button>
						</div>
						<div class="col-sm-4 col-xs-6">
							<button type="button" class="btn btn-danger btn-lg">Danger</button>
						</div>
					</div>
			</div>
            </div>
        </div>
    </div>
    </div>
