    <div class="content-top">
        <div>highchart</div>
    </div>
    <div class="scope-panel">
      <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="medium-panel k-aaa panel-blur">
                <div class="panel-heading-title">
                    <div class="panel-title">Pie with legend</div>
                </div>
                <div class="panel-body">
                    <div id="pie1"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="medium-panel k-aaa panel-blur">
                <div class="panel-heading-title">
                    <div class="panel-title">Pie chart</div>
                </div>
                <div class="panel-body">
                    <div id="pie2"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="medium-panel k-aaa panel-blur">
                <div class="panel-heading-title">
                    <div class="panel-title">Donut chart</div>
                </div>
                <div class="panel-body">
                    <div id="pie3"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="medium-panel k-aaa panel-blur">
                <div class="panel-heading-title">
                    <div class="panel-title">Pie with drilldown</div>
                </div>
                <div class="panel-body">
                    <div id="pie4"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="medium-panel k-aaa panel-blur">
                <div class="panel-heading-title">
                    <div class="panel-title">Pie chart</div>
                </div>
                <div class="panel-body">
                    <div id="pie5"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="medium-panel k-aaa panel-blur">
                <div class="panel-heading-title">
                    <div class="panel-title">Pie with monochrome fill</div>
                </div>
                <div class="panel-body">
                    <div id="pie6"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="medium-panel k-aaa panel-blur">
                <div class="panel-heading-title">
                    <div class="panel-title">Semi circle donut</div>
                </div>
                <div class="panel-body">
                    <div id="pie7"></div>
                </div>
            </div>
        </div>
      </div>
    </div>
