    <div class="content-top">
        <div>highchart</div>
    </div>
    <div class="scope-panel">
      <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="medium-panel k-aaa panel-blur">
                <div class="panel-heading-title">
                    <div class="panel-title">Basic bar</div>
                </div>
                <div class="panel-body">
                    <div class="bar1"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="medium-panel k-aaa panel-blur">
                <div class="panel-heading-title">
                    <div class="panel-title">Stacked bar</div>
                </div>
                <div class="panel-body">
                    <div id="bar2"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="medium-panel k-aaa panel-blur">
                <div class="panel-heading-title">
                    <div class="panel-title">Bar with negative stack</div>
                </div>
                <div class="panel-body">
                    <div id="bar3"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="medium-panel k-aaa panel-blur">
                <div class="panel-heading-title">
                    <div class="panel-title">Basic column</div>
                </div>
                <div class="panel-body">
                    <div id="bar4"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="medium-panel k-aaa panel-blur">
                <div class="panel-heading-title">
                    <div class="panel-title">Column with negative values</div>
                </div>
                <div class="panel-body">
                    <div id="bar5"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="medium-panel k-aaa panel-blur">
                <div class="panel-heading-title">
                    <div class="panel-title">Stacked column</div>
                </div>
                <div class="panel-body">
                    <div id="bar6"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="medium-panel k-aaa panel-blur">
                <div class="panel-heading-title">
                    <div class="panel-title">Stacked and grouped column</div>
                </div>
                <div class="panel-body">
                    <div id="bar7"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="medium-panel k-aaa panel-blur">
                <div class="panel-heading-title">
                    <div class="panel-title">Staked percentage Column</div>
                </div>
                <div class="panel-body">
                    <div id="bar8"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="medium-panel k-aaa panel-blur">
                <div class="panel-heading-title">
                    <div class="panel-title">column with rotated labels</div>
                </div>
                <div class="panel-body">
                    <div id="bar9"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="medium-panel k-aaa panel-blur">
                <div class="panel-heading-title">
                    <div class="panel-title">Column with drilldown</div>
                </div>
                <div class="panel-body">
                    <div id="bar10"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="medium-panel k-aaa panel-blur">
                <div class="panel-heading-title">
                    <div class="panel-title">Fixed placement column</div>
                </div>
                <div class="panel-body">
                    <div id="bar11"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="medium-panel k-aaa panel-blur">
                <div class="panel-heading-title">
                    <div class="panel-title">data defined a HTML table</div>
                </div>
                <div class="panel-body">
                    <div id="bar12"></div>
                    
<table id="datatable">
    <thead>
        <tr>
            <th></th>
            <th>Jane</th>
            <th>John</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Apples</th>
            <td>3</td>
            <td>4</td>
        </tr>
        <tr>
            <th>Pears</th>
            <td>2</td>
            <td>0</td>
        </tr>
        <tr>
            <th>Plums</th>
            <td>5</td>
            <td>11</td>
        </tr>
        <tr>
            <th>Bananas</th>
            <td>1</td>
            <td>1</td>
        </tr>
        <tr>
            <th>Oranges</th>
            <td>2</td>
            <td>4</td>
        </tr>
    </tbody>
</table>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="medium-panel k-aaa panel-blur">
                <div class="panel-heading-title">
                    <div class="panel-title">Column range</div>
                </div>
                <div class="panel-body">
                    <div id="bar13"></div>
                </div>
            </div>
        </div>
      </div>
    </div>
