    <div class="content-top">
        <div>Pages</div>
    </div>
    <div class="scope-panel">
      <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="medium-panel k-aaa panel-blur">
                <div class="panel-heading-title">
                    <div class="panel-title">Page1</div>
                </div>
                <div class="panel-body">  
                    
                    <!---->
          

  
                    <!---->


                </div>
            </div>
        </div>
      </div>
    </div>
