    <div class="content-top">
        <div>ورود دادها</div>
    </div>
    <div class="scope-panel">
    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="medium-panel k-aaa panel-blur">
                <div class="panel-heading-title">
                    <div class="panel-title">فرم های ورود داده</div>
                </div>
                <div class="panel-body">
                        <form class="">
                            <div class="form-group">
                                <label for="input01">متن</label>
                                <input type="text" class="form-control" id="input01" placeholder="متن"></input>
                                </div>
                                <div class="form-group">
                                    <label for="input02">گذر واژه</label>
                                    <input type="password" class="form-control" id="input02" placeholder="گذر واژه"></input>
                                    </div>
                                    <div class="form-group">
                                        <label for="input03">با گوشه های  گرد</label>
                                        <input type="text" class="form-control form-control-rounded" id="input03" placeholder="با گوش های  گرد"></input>
                                        </div>
                                        <div class="form-group">
                                            <label for="input04">همراه با راهنما</label>
                                            <input type="text" class="form-control" id="input04" placeholder="همراه با راهنما"></input>
                                                <span class="help-block sub-little-text">این متن راهنمای شماست.</span>
                                            </div>
                                            <div class="form-group">
                                                <label for="input05">فرم غیر فعال</label>
                                                <input type="text" class="form-control" id="input05" placeholder="فرم غیر فعال" disabled=""></input>
                                                </div>
                                                <div class="form-group">
                                                    <label for="textarea01">ناحیه متن</label>
                                                    <textarea placeholder="متن پیشفرض" class="form-control" id="textarea01"></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" class="form-control input-sm" id="input2" placeholder="فرم کوچک"></input>
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control input-lg" id="input4" placeholder="فرم بزرگ"></input>
                            </div>
                        </form>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
          <div class="medium-panel k-aaa panel-blur button-panel df-size-button-panel">
                <div class="panel-heading-title">
                    <div class="panel-title">ورودی با اعلان</div>
                </div>
                <div class="panel-body">
                    				<div class="form-group has-success">
					<label class="control-label" for="inputSuccess1">ورودی با موفقیت</label>
					<input type="text" class="form-control" id="inputSuccess1"></input>
					</div>
					<div class="form-group has-warning">
						<label class="control-label" for="inputWarning1">ورودی با اخطار</label>
						<input type="text" class="form-control" id="inputWarning1"></input>
						</div>
						<div class="form-group has-error ng-scope">
							<label class="control-label" for="inputError1">ورودی با خطا</label>
							<input type="text" class="form-control" id="inputError1"></input>
							</div>
            </div>
          </div>
    </div>
      </div>
    </div>

