    <div class="content-top">
        <div>پیام ها</div>
    </div>
    <div class="scope-panel">
      <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="medium-panel k-aaa panel-blur">
                <div class="panel-heading-title">
                    <div class="panel-title">پیام های پایه </div>
                </div>
                <div class="panel-body">
                    <div class="alert bg-success">
					<strong> پیام موفقیت !</strong> 
				</div>
				<div class="alert bg-info">
					<strong> پیام اطلاعاتی !</strong> به این پیام توجه کنید.
				</div>
				<div class="alert bg-warning">
					<strong> پیام هشدار !</strong> این پیام مهم است.
				</div>
				<div class="alert bg-danger">
					<strong> پیام اخطار !</strong> مشکلی پیش آمده.
				</div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="medium-panel k-aaa panel-blur">
                <div class="panel-heading-title">
                    <div class="panel-title">پیام های پایه </div>
                </div>
                <div class="panel-body">
                    <div class="alert bg-success">
					<strong> پیام موفقیت !</strong> شما موفق شدید.
				</div>
				<div class="alert bg-info">
					<strong> پیام اطلاعاتی !</strong> به این پیام توجه کنید.
				</div>
				<div class="alert bg-warning">
					<strong> پیام هشدار !</strong> این پیام مهم است.
				</div>
				<div class="alert bg-danger">
					<strong> پیام اخطار !</strong> مشکلی پیش آمده.
				</div>
                </div>
            </div>
        </div>
      </div>
    </div>
